.footer_bg{
    background-color: rgb(0, 39, 75);
    bottom: 0px !important;
    color: #fff;
}

.logo{
    background-color: #fff;
    border-radius: 10px;
}
.stamp{
    color: #71bc4e;
    font-size: 10px;
}